@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-gray);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 322px;
  height: 500px;
  background-color: var(--White);
  border-radius: 16px;
}

.main-img {
  width: 100%;
  object-fit: cover;
  padding: 20px;
  border-radius: 30px;
}

.main-h1 {
  padding: 0px 20px;
  text-align: center;
  color: var(--Dark-blue);
}

.main-p {
  padding: 15px 20px 30px 20px;
  text-align: center;
  color: var(--Grayish-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 20px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
